body {
    min-width: 1200px;
    background: #e9edf0;
    overflow-y: scroll;
}

body,
input,
button,
option,
textarea,
label,
select,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font: 14px/18px Helvetica, Arial, sans-serif;
    color: #333;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 0;
}


/* media-quejy-container */


/* pc */

@media (min-width: 1024px) {}


/* ipad-pro */

@media (max-width: 1200px) {}


/* ipad */

@media (max-width: 991px) {}

@media (min-width: 768px) and (max-width: 991px) {}


/* moblie */

@media (max-width: 767px) {}

@media (max-width: 426px) {}

.row {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/* css-header */


/* css-tài */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    margin: auto;
    height: 50px;
    background: #008848;
    min-width: 1200px;
}

.new2021 header {
    padding-left: calc((100% - 1200px)/2);
    padding-right: calc((100% - 1200px)/2);
    /* width: 1200px; */
}

header.sticky {
    position: fixed;
    top: 0;
    z-index: 12;
}

.tophead {
    display: block;
    overflow: visible;
    height: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.new2021 .tophead {
    max-width: 980px;
    background: #008848;
    margin-left: 220px;
    border-radius: 0 0 4px 4px;
}

.logo {
    float: left;
    overflow: hidden;
    width: 161px;
    height: 100%;
    padding: 8px 0 9px 0;
    box-sizing: border-box;
}

.bhx-logo {
    background-position: -56px -32px;
    width: 152px;
    height: 34px;
}


/* [class^="bhx-"],
    [class*="bhx-"] {
        background-image: sc;
        background-size: 500px auto;
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        vertical-align: middle;
    } */

.popup-overlays {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #000;
    opacity: .7;
    z-index: 25;
    margin: auto;
}

.locationContainer {
    color: #fff;
    float: left;
    font-size: 12px;
    padding: 8px 0 7px;
    max-height: 50px;
    width: 180px;
    z-index: 30;
    position: relative;
}

.locationContainer .locationUser {
    display: block;
    background: #057541;
    padding: 3px 5px 3px 4px;
    border-radius: 3px;
}

.locationContainer * {
    box-sizing: border-box;
}

.locationContainer .location_left {
    text-align: center;
    position: relative;
    min-width: 90px;
    height: 28px;
}

.locationUser .bhx-toggle {
    background-position: -319px -295px;
    width: 13px;
    height: 18px;
    display: inline-block;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pulse {
    background: #f1f1f1;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 14.5px;
    top: 33%;
    opacity: .5;
    margin: 11px 0 0 -12px;
    transform: rotateX( 55deg);
}

.pulse::after {
    content: "";
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    margin: -8px 0 0 -12px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #fefefe;
    animation-delay: 1.1s;
}

@keyframes pulsate {
    from {
        width: 0px;
    }
    to {
        width: 25px;
    }
}

@keyframes pulsate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.location_left .current_locate {
    line-height: 15px;
    display: block;
    font-size: 11px;
    height: auto;
    padding-left: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.locationContainer .shipto {
    font-size: 11px;
    line-height: 1;
    display: inline-block;
}

.locationContainer .change {
    text-decoration: underline;
    font-size: 11px;
    margin-left: 2px;
}

.clr {
    clear: both;
}

header .location {
    background-color: #fff;
    margin-top: 12px;
    color: #000;
    width: 300px;
    position: absolute;
    left: -60px;
    z-index: 21;
    display: none;
}

header .location .tooltip {
    margin-bottom: 1px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #037841;
    height: 60px;
    opacity: 1 !important;
}

header .location .tooltip .content {
    padding: 5px 5px 5px 5px;
    margin-top: 0;
    border-bottom: none;
}

header .location .chooseLocation {
    background: #037841;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding: 7px 9px;
    height: auto;
    position: relative;
}

header .location .title-box {
    position: relative;
}

header .location .title-box>.title.prov {
    padding: 15px;
    line-height: 20px !important;
}

header .location .title-box>.title {
    background-color: #037841;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

header .location .title-box>a.closes {
    color: #037841;
    content: "✕";
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-family: Tahoma;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 12px;
    top: 14px;
}

a {
    text-decoration: none !important;
}

.box-search-province {
    display: block;
    margin: 10px 10px;
}

.box-search-province .input-search {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.easy-autocomplete {
    position: static;
    width: 100% !important;
}

.box-search-province .input-search input {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 8px;
    width: 100%;
    padding-right: 65px;
}

.box-search-province .input-search .bhx-search {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: block;
    top: 9px;
    font-size: 18px;
    color: #b9b9b9;
}

.bhx-search {
    background-position: -282px -33px;
    width: 18px;
    height: 18px;
}


/* css-search */

.hiscart {
    float: right;
}

.mainsearch {
    float: left;
    width: 500px;
    height: 34px;
    position: relative;
    margin: 2px 0 0 33px;
    top: 6px;
    border-radius: 30px;
}

.new2021 .mainsearch {
    width: 385px;
    margin: 2px 0 0 10px;
}

.easy-autocomplete {
    position: static;
    width: 100% !important;
}


/* css-an */

.hiscart {
    width: 627px;
    float: right;
}

.text-search {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    outline: none;
    padding: 0 30px 0 0;
    text-indent: 10px;
    border: none;
    margin-bottom: 10px;
}

.mainsearch button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    width: 45px;
    height: 34px;
    border-radius: 4px;
}

[class^="bhx-"],
[class*="bhx-"] {
    background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/desktop/bhxdesk@2x.v202109022212.png);
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    /* height: 30px;
        width: 30px; */
    line-height: 30px;
    vertical-align: middle;
}

.bhx-search {
    background-position: -282px -33px;
    width: 18px;
    height: 18px;
}

.histories {
    float: left;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: 15px;
    width: 92px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 5px;
    box-sizing: border-box;
}

.hiscart .temcart {
    float: right;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: 50px;
    background: rgba(19, 18, 24, .16);
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    height: 50px;
    width: 140px;
    padding: 0 10px;
    text-align: center;
}

.hiscart .temcart .bhx-cart {
    background-position: -256px -33px;
    width: 24px;
    height: 22px;
    margin-bottom: 6px;
}

.hiscart .temcart div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 6px;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.easy-autocomplete-container {
    z-index: 30;
    background: #fff;
    top: 42px;
    display: none;
}

.easy-autocomplete-container ul.active {
    display: block !important;
}

.easy-autocomplete-container ul {
    border-top: 0;
    position: relative;
    top: 0;
    box-shadow: 0 1px 8px 1px rgb(0 0 0 / 25%);
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px dotted #ccc;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px;
}

.easy-autocomplete-container ul:before {
    content: '';
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 60px;
    position: absolute;
}

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px;
}

.easy-autocomplete-container li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1 !important;
    padding: 0 !important;
}

.easy-autocomplete-container li:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}

.easy-autocomplete-container ul li .search-item {
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}

.easy-autocomplete-container ul li .search-item .viewdetail {
    width: 100%;
}

.easy-autocomplete-container li .pic {
    width: 60px;
    display: inline-block;
}

.easy-autocomplete-container li img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.easy-autocomplete-container li .info {
    width: calc(100% - 60px);
    display: inline-block;
    float: right;
}

.easy-autocomplete-container li a.name {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}

.easy-autocomplete-container li h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.easy-autocomplete-container li .info .price,
.easy-autocomplete-container li .info .gift {
    width: calc(100% - 100px);
    display: inline-block;
}

.easy-autocomplete-container li .info .price strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #333;
    margin-right: 2px;
    font-weight: normal;
}

.easy-autocomplete-container li .buys {
    width: 135px;
    float: right;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 30px;
}

.easy-autocomplete-container li .btnbuy {
    padding: 5px 0;
    border: 1px solid #008848;
    border-radius: 4px;
    width: 100px;
    float: right;
    background: none;
    text-transform: uppercase;
    color: #008848;
    text-align: center;
    position: absolute;
    right: 0;
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #f6f6f6;
    cursor: pointer;
    display: none;
}

.easy-autocomplete-container li .s-viewmore {
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.easy-autocomplete-container ul li.selected div {
    font-weight: normal;
}

.easy-autocomplete-container ul li:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.s-viewmore:focus,
.s-viewmore:hover {
    color: #23527c;
    ;
}

.reset {
    display: none;
    position: absolute;
    width: 20px !important;
    height: 20px;
    top: 7px;
    right: 50px;
    background: #dbdbdb;
    font-size: 15px;
    color: #999;
    text-align: center;
    font-family: monospace;
    line-height: 17px;
    border-radius: 20px;
}

.mainsearch .bhx-closemenu {
    background-position: -239px -53px;
    width: 10px;
    height: 10px;
}

.hiscart * {
    box-sizing: border-box;
}

.btn-search {
    display: none;
    padding: 8px 7px;
    background: #fbd600;
    border-radius: 0 15px 16px 0;
    cursor: pointer;
    border-radius: 0 4px 3px 0;
    position: absolute;
    top: 0;
}

.mainsearch button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    width: 45px;
    height: 34px;
    border-radius: 4px;
}

body {
    min-width: 1200px;
    background: #e9edf0;
    overflow-y: scroll;
}

body,
input,
button,
option,
textarea,
label,
select,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font: 14px/18px Helvetica, Arial, sans-serif;
    color: #333;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 0;
}


/* media-quejy-container */


/* pc */

@media (min-width: 1024px) {}


/* ipad-pro */

@media (max-width: 1200px) {}


/* ipad */

@media (max-width: 991px) {}

@media (min-width: 768px) and (max-width: 991px) {}


/* moblie */

@media (max-width: 767px) {}

@media (max-width: 426px) {}

.row {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/* css-header */


/* css-tài */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    margin: auto;
    height: 50px;
    background: #008848;
    min-width: 1200px;
}

.new2021 header {
    padding-left: calc((100% - 1200px)/2);
    padding-right: calc((100% - 1200px)/2);
    /* width: 1200px; */
}

header.sticky {
    position: fixed;
    top: 0;
    z-index: 12;
}

.tophead {
    display: block;
    overflow: visible;
    height: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.new2021 .tophead {
    max-width: 980px;
    background: #008848;
    margin-left: 220px;
    border-radius: 0 0 4px 4px;
}

.logo {
    float: left;
    overflow: hidden;
    width: 161px;
    height: 100%;
    padding: 8px 0 9px 0;
    box-sizing: border-box;
}

.bhx-logo {
    background-position: -56px -32px;
    width: 152px;
    height: 34px;
}


/* [class^="bhx-"],
    [class*="bhx-"] {
        background-image: sc;
        background-size: 500px auto;
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        vertical-align: middle;
    } */

.popup-overlays {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #000;
    opacity: .7;
    z-index: 25;
    margin: auto;
}

.locationContainer {
    color: #fff;
    float: left;
    font-size: 12px;
    padding: 8px 0 7px;
    max-height: 50px;
    width: 180px;
    z-index: 30;
    position: relative;
}

.locationContainer .locationUser {
    display: block;
    background: #057541;
    padding: 3px 5px 3px 4px;
    border-radius: 3px;
}

.locationContainer * {
    box-sizing: border-box;
}

.locationContainer .location_left {
    text-align: center;
    position: relative;
    min-width: 90px;
    height: 28px;
}

.locationUser .bhx-toggle {
    background-position: -319px -295px;
    width: 13px;
    height: 18px;
    display: inline-block;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pulse {
    background: #f1f1f1;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 14.5px;
    top: 33%;
    opacity: .5;
    margin: 11px 0 0 -12px;
    transform: rotateX( 55deg);
}

.pulse::after {
    content: "";
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    margin: -8px 0 0 -12px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #fefefe;
    animation-delay: 1.1s;
}

@keyframes pulsate {
    from {
        width: 0px;
    }
    to {
        width: 25px;
    }
}

@keyframes pulsate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.location_left .current_locate {
    line-height: 15px;
    display: block;
    font-size: 11px;
    height: auto;
    padding-left: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.locationContainer .shipto {
    font-size: 11px;
    line-height: 1;
    display: inline-block;
}

.locationContainer .change {
    text-decoration: underline;
    font-size: 11px;
    margin-left: 2px;
}

.clr {
    clear: both;
}

header .location {
    background-color: #fff;
    margin-top: 12px;
    color: #000;
    width: 300px;
    position: absolute;
    left: -60px;
    z-index: 21;
    display: none;
}

header .location .tooltip {
    margin-bottom: 1px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #037841;
    height: 60px;
    opacity: 1 !important;
}

header .location .tooltip .content {
    padding: 5px 5px 5px 5px;
    margin-top: 0;
    border-bottom: none;
}

header .location .chooseLocation {
    background: #037841;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding: 7px 9px;
    height: auto;
    position: relative;
}

header .location .title-box {
    position: relative;
}

header .location .title-box>.title.prov {
    padding: 15px;
    line-height: 20px !important;
}

header .location .title-box>.title {
    background-color: #037841;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

header .location .title-box>a.closes {
    color: #037841;
    content: "✕";
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-family: Tahoma;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 12px;
    top: 14px;
}

a {
    text-decoration: none !important;
}

.box-search-province {
    display: block;
    margin: 10px 10px;
}

.box-search-province .input-search {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.easy-autocomplete {
    position: static;
    width: 100% !important;
}

.box-search-province .input-search input {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 8px;
    width: 100%;
    padding-right: 65px;
}

.box-search-province .input-search .bhx-search {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: block;
    top: 9px;
    font-size: 18px;
    color: #b9b9b9;
}

.bhx-search {
    background-position: -282px -33px;
    width: 18px;
    height: 18px;
}


/* css-search */

.hiscart {
    float: right;
}

.mainsearch {
    float: left;
    width: 500px;
    height: 34px;
    position: relative;
    margin: 2px 0 0 33px;
    top: 6px;
    border-radius: 30px;
}

.new2021 .mainsearch {
    width: 385px;
    margin: 2px 0 0 10px;
}

.easy-autocomplete {
    position: static;
    width: 100% !important;
}


/* css-an */

.hiscart {
    width: 627px;
    float: right;
}

.text-search {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    outline: none;
    padding: 0 30px 0 0;
    text-indent: 10px;
    border: none;
    margin-bottom: 10px;
}

.mainsearch button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    width: 45px;
    height: 34px;
    border-radius: 4px;
}

[class^="bhx-"],
[class*="bhx-"] {
    background-image: url(//cdn.tgdd.vn/bachhoaxanh/www/Content/images/desktop/bhxdesk@2x.v202109022212.png);
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    /* height: 30px;
        width: 30px; */
    line-height: 30px;
    vertical-align: middle;
}

.bhx-search {
    background-position: -282px -33px;
    width: 18px;
    height: 18px;
}

.histories {
    float: left;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: 15px;
    width: 92px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 5px;
    box-sizing: border-box;
}

.hiscart .temcart {
    float: right;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: 50px;
    background: rgba(19, 18, 24, .16);
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    height: 50px;
    width: 140px;
    padding: 0 10px;
    text-align: center;
}

.hiscart .temcart .bhx-cart {
    background-position: -256px -33px;
    width: 24px;
    height: 22px;
    margin-bottom: 6px;
}

.hiscart .temcart div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 6px;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.easy-autocomplete-container {
    z-index: 30;
    background: #fff;
    top: 42px;
    display: none;
}

.easy-autocomplete-container ul.active {
    display: block !important;
}

.easy-autocomplete-container ul {
    border-top: 0;
    position: relative;
    top: 0;
    box-shadow: 0 1px 8px 1px rgb(0 0 0 / 25%);
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px dotted #ccc;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px;
}

.easy-autocomplete-container ul:before {
    content: '';
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 60px;
    position: absolute;
}

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px;
}

.easy-autocomplete-container li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1 !important;
    padding: 0 !important;
}

.easy-autocomplete-container li:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}

.easy-autocomplete-container ul li .search-item {
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}

.easy-autocomplete-container ul li .search-item .viewdetail {
    width: 100%;
}

.easy-autocomplete-container li .pic {
    width: 60px;
    display: inline-block;
}

.easy-autocomplete-container li img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.easy-autocomplete-container li .info {
    width: calc(100% - 60px);
    display: inline-block;
    float: right;
}

.easy-autocomplete-container li a.name {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}

.easy-autocomplete-container li h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.easy-autocomplete-container li .info .price,
.easy-autocomplete-container li .info .gift {
    width: calc(100% - 100px);
    display: inline-block;
}

.easy-autocomplete-container li .info .price strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #333;
    margin-right: 2px;
    font-weight: normal;
}

.easy-autocomplete-container li .buys {
    width: 135px;
    float: right;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 30px;
}

.easy-autocomplete-container li .btnbuy {
    padding: 5px 0;
    border: 1px solid #008848;
    border-radius: 4px;
    width: 100px;
    float: right;
    background: none;
    text-transform: uppercase;
    color: #008848;
    text-align: center;
    position: absolute;
    right: 0;
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #f6f6f6;
    cursor: pointer;
    display: none;
}

.easy-autocomplete-container li .s-viewmore {
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.easy-autocomplete-container ul li.selected div {
    font-weight: normal;
}

.easy-autocomplete-container ul li:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px;
}

.easy-autocomplete-container ul li div {
    display: flex;
    width: 100%;
}

.s-viewmore:focus,
.s-viewmore:hover {
    color: #23527c;
    ;
}

.reset {
    display: none;
    position: absolute;
    width: 20px !important;
    height: 20px;
    top: 7px;
    right: 50px;
    background: #dbdbdb;
    font-size: 15px;
    color: #999;
    text-align: center;
    font-family: monospace;
    line-height: 17px;
    border-radius: 20px;
}

.mainsearch .bhx-closemenu {
    background-position: -239px -53px;
    width: 10px;
    height: 10px;
}

.hiscart * {
    box-sizing: border-box;
}

.btn-search {
    display: none;
    padding: 8px 7px;
    background: #fbd600;
    border-radius: 0 15px 16px 0;
    cursor: pointer;
    border-radius: 0 4px 3px 0;
    position: absolute;
    top: 0;
}

.mainsearch button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    width: 45px;
    height: 34px;
    border-radius: 4px;
}